<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syllabus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='syllabus.css') }}">
</head>
<body>
    <div class="container">
        <h1>Get Started with these subjects</h1>
        <h2>Categories</h2>
        <div class="category-grid">
            <div class="category-card">
                <a href="media/syllabus/" download="MATHEMATICS_SYLLABUS.pdf">Mathematics</a>
            </div>
            <div class="category-card"><a href="media/syllabus/" download="BIOLOGY_SYLLABUS.pdf">Biology</a></div>
            <div class="category-card"><a href="media/syllabus/" download="ENGLISH_SYLLABUS.pdf">English</a></div>
            <div class="category-card"><a href="media/syllabus/" download="KISWAHILI_SYLLABUS.pdf">Kiswahili</a></div>
            <div class="category-card"><a href="media/syllabus/" download="IRE_SYLLABUS.pdf">Religious Education</a></div>
            <div class="category-card"><a href="media/syllabus/" download="HISTORY_SYLLABUS.pdf">History</a></div>
            <div class="category-card"><a href="media/syllabus/" download="GEOGRAPHY_SYLLABUS.pdf">Geography</a></div>
            <div class="category-card"><a href="media/syllabus/" download="CHEMISTRY_SYLLABUS.pdf">Chemistry</a></div>
            <div class="category-card"><a href="media/syllabus/" download="PHYSICS_SYLLABUS.pdf">Physics</a></div>
        </div>
    </div>
</body>
</html>
