<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#" lang="en">
<head>
    <!--------------------------Open Graph-------------------------------------->
    <meta property="og:url"                content="https://elitescholars.onrender.com/" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Elite Scholars" />
    <meta property="og:description"        content="A School Pioneered by Alumnis." />
    <meta property="og:image" content="https://elitescholars.onrender.com/media/pexels-elvis-mkera-14909652 (1).jpg" />

    <!--------------------------Meta-------------------------------------->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Empowering a new Generation for quality success.">
    <meta name="author" content="Your Name">
    <meta name="keywords" content="education, tertiary, schools, alumnii, students, registrations, support">
    <title>Elite Scholars</title>

    <!--------------------------Favicon-------------------------------------->
    <link rel="apple-touch-icon" sizes="180x180" href="resources/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="resources/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="resources/favicon-16x16.png">
    <link rel="manifest" href="resources/site.webmanifest">

    <!---------------------------CSS Linking---------------------------------------------->
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mobile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tablet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='largescreen.css') }}.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    

    <!---------------------------JS Linking---------------------------------------------->
    <script src="{{ url_for('serve_js', filename='index.js') }}"></script>
    <script src="{{ url_for('serve_js', filename='login.js') }}"></script>

    <!---------------------------Icon Linking---------------------------------------------->
    <script src="https://kit.fontawesome.com/6c6f1b6f8c.js" crossorigin="anonymous"></script>

    <!---------------------------Animations Linking---------------------------------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <!---------------------------Fullpage.js Linking---------------------------------------------->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.20/fullpage.min.js"></script>

    <!---------------------------------CDNS---------------------------------------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    <!----Swiper.js CDN-->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

</head>
<body>
    <!---Header Nav-->
    <header>
        <nav class="navbar">
            <div class="logo">| ELITE SCHOLARS |</div>
            <div class="menu-toggle">
                &#9776;
            </div>

            <ul class="nav-links">
                <li><a href="#" class="x-icon-menu"><i class="fa-solid fa-xmark fa-xl"></i></a></li>
                <li><a href="{{ url_for('main.home') }}">Home</a></li>
                <li><a href="{{ url_for('main.home') }}#Features">Features</a></li>
                <li><a href="{{ url_for('main.home') }}#About">About Us</a></li>
                <li><a href="{{ url_for('main.home') }}#news">News</a></li>
                <li><a href="{{ url_for('main.home') }}#resources">Resources</a></li>
                <li><a href="{{ url_for('main.home') }}#faqs">FAQ's</a></li>
            </ul>

            <div class="cta-button">
                <a href="{{ url_for('main.login') }}">
                    <button class="login">Login</button>
                </a>
                <a href="{{ url_for('main.register') }}">
                    <button class="register">Register</button>
                </a>
            </div>
        </nav>
    </header>

    <!--------------------------Main Page Content------------------------------------------------------------>
    <main>
        <section>
            <div class="login-contents">
                <div class="login-form">
                    <h3>Sign In</h3>
                    <form method="POST" action="{{ url_for('main.parent_login') }}">
                    
                        <div class="user-role-toggle">
                            <div class="toggle">
                                <input type="radio" id="parent" name="role" value="parent" onclick="submitToggle()" checked>
                                <label for="parent">Parent</label>
                                <input type="radio" id="teacher" name="role" value="teacher" onclick="submitToggle()">
                                <label for="teacher">Teacher</label>
                                <input type="radio" id="student" name="role" value="student" onclick="submitToggle()">
                                <label for="student">Student</label>
                                <span class="slider"></span>
                            </div>
                        </div>
                        
                        <div class="fields">
                            <label for="fullname">Full name</label>
                            {{ form.fullname(class_="form-control", placeholder="John Doe") }}
                        </div>
                    
                        <div class="fields">
                            <label for="password">Password</label>
                            {{ form.password(class_="form-control") }}
                        </div>

                        <div class="signin">
                            {{ form.submit(class_="btn btn-primary") }}
                        </div>
                    
                        <div class="links">
                            <a href="{{ url_for('main.register') }}">Not Registered?</a>
                            <a href="{{ url_for('main.login') }}">Forgot Password?</a>
                        </div>
                    </form>
                    
                    <div class="line-with-text">
                        <span>Or Sign In With</span>
                    </div>
                    <div class="buttons">
                        <button >
                            <i class="fa-brands fa-google"></i>
                            <p>Sign In With google</p>
                        </button>
                        <button>
                            <i class="fa-brands fa-facebook-f"></i>
                            <p>Sign In With Facebook</p>
                        </button>
                    </div>
                </div>
                <div class="login-img" >

                </div>

            </div>
        </section>




    </main>


    <!-----------------------------Footer------------------------------------------------------------>
    <footer>
        <div class="footer-container">
            <div class="company-info">
                <div class="logo">ELITE SCHOLARS</div>
                <div><p>Enhancing Academic Excellence</p></div>
                <div class="socials">
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-pinterest"></i></a>
                </div>
            </div>
            <div class="contact-info">
                <h3>Contact Us</h3>
                <p>
                    <i class="fa-solid fa-envelope"></i>
                    elitescholars@gmail.com
                </p>
                <p>
                    <i></i>
                    +254 796 055 756
                </p>
            </div>
        </div>
    </footer>

    <!----------------JS Linking------------------------->
    <script src="{{ url_for('serve_js', filename='nav.js') }}" defer></script>
    <script src="{{ url_for('serve_js', filename='carousel.js') }}" defer></script>
    <script>
        function submitToggle() {
            const selectedRole = document.querySelector('input[name="role"]:checked').value;

            // Redirect based on the selected role
            if (selectedRole === 'parent') {
                window.location.href = "{{ url_for('main.parent_register') }}";
            } else if (selectedRole === 'teacher') {
                window.location.href = "{{ url_for('main.teacher_register') }}";
            } else if (selectedRole === 'student') {
                window.location.href = "{{ url_for('main.student_register') }}";
            }
        }
    </script>
    
    
</body>
</html>