<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#" lang="en">
<head>
    <!--------------------------Open Graph-------------------------------------->
    <meta property="og:url"                content="https://elitescholars.onrender.com/" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Elite Scholars" />
    <meta property="og:description"        content="A School Pioneered by Alumnis." />
    <meta property="og:image" content="https://elitescholars.onrender.com/media/pexels-elvis-mkera-14909652 (1).jpg" />


    <!--------------------------Meta-------------------------------------->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Empowering a new Generation for quality success.">
    <meta name="author" content="Your Name">
    <meta name="keywords" content="education, tertiary, schools, alumnii, students, registrations, support">
    <title>Elite Scholars</title>

    <!--------------------------Favicon-------------------------------------->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io (8)/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io (8)/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io (8)/favicon-16x16.png">
    <link rel="manifest" href="favicon_io (8)/site.webmanifest">



    <!---------------------------CSS Linking---------------------------------------------->
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/mobile.css">
    <link rel="stylesheet" href="css/tablet.css">
    <link rel="stylesheet" href="css/largescreen.css">
    <link rel="stylesheet" href="css/nav.css">
    

    <!---------------------------JS Linking---------------------------------------------->
    <script src="js/index.js"></script>

    <!---------------------------Icon Linking---------------------------------------------->
    <script src="https://kit.fontawesome.com/6c6f1b6f8c.js" crossorigin="anonymous"></script>

    <!---------------------------Animations Linking---------------------------------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <!---------------------------Fullpage.js Linking---------------------------------------------->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.20/fullpage.min.js"></script>

    <!---------------------------------CDNS---------------------------------------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    <!----Swiper.js CDN-->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

</head>
<body>
    <!---Header Nav-->
    <header>
        <nav class="navbar">
            <div class="logo">| ELITE SCHOLARS |</div>
            <div class="menu-toggle">
                &#9776;
            </div>

            <ul class="nav-links">
                <li ><a href="#" class="x-icon-menu"><i class="fa-solid fa-xmark fa-xl"></i></a></li>
                <li><a href="index.html#Home">Home</a></li>
                <li><a href="index.html#Features">Features</a></li>
                <li><a href="index.html#About">About Us</a></li>
                <li><a href="index.html#news">News</a></li>
                <li><a href="index.html#resources">Resources</a></li>
                <li><a href="index.html#faqs">FAQ's</a></li>
            </ul>

            <div class="cta-button">
                <a href="login.html">
                    <button class="login">Login</button>
                </a>
                <a href="register.html">
                    <button class="register">Register</button>
                </a>
            </div>
        </nav>
    </header>

    <!--------------------------Main Page Content------------------------------------------------------------>
    <main>
        <!--------------------------Hero-section------------------------------------------------------------>
        <section class="hero-section" id="Home">
            <article>
                <main>
                    <div class="radius">
                        <div>
                            <p class="notification">Registration Ongoing !</p>
                        </div>
                        <div class="hero-text">
                            <h2><span>Empowering</span> A New Generation For Success In Tertiary Education.</h2>
                            <h4 class="tagline">An Educational Support System That Never Fails.</h4>
                        </div>
                        <div>
                            
                        </div>
                    </div>  
                </main>
                <aside>
                </aside>
            </article>
        </section>

        <!--------------------------Features-section------------------------------------------------------------>
        <section id="Features">
            <div class="container">
                <div class="section-info">
                    <div class="topic">
                        <button>Essential Features</button>
                    </div>
                    <h3>These are the Benefits of Being Part of Us.</h3>
                </div>
                <div class="featured-elements">
                    <div class="feature-card">
                        <i class="fa-solid fa-laptop-file "></i>
                        <h2>E-Learning</h2>
                        <p>Access to Student Learning platform.</p>
                        <p>Access to Learning resources and Materials.</p>
                    </div>
                    <div class="feature-card">
                        <i class="fa-solid fa-list-ol"></i>
                        <h2>Syllabus System</h2>
                        <p>Access to Student Syllabus  System.</p>
                        <p>Brochure and Syllabus  System.</p>
                    </div>
                    <div class="feature-card">
                        <i class="fa-solid fa-book-open-reader"></i>
                        <h2>Exam Center</h2>
                        <p>Access to Student Exam System.</p>
                        <p>Brochure and Exam  System.</p>
                    </div>
                    <div class="feature-card">
                        <i class="fa-solid fa-graduation-cap"></i>
                        <h2>Student Support</h2>
                        <p>Access to Student Support platform.</p>
                        <p>Helpline, Enquiry and Assistance.</p>
                    </div>
                    <div class="feature-card">
                        <i class="fa-solid fa-school"></i>
                        <h2>Admission System</h2>
                        <p>Central Admissions.</p>
                        <p>Admission Processing.</p>
                    </div>
                    <div class="feature-card">
                        <i class="fa-solid fa-school-circle-check"></i>
                        <h2>Academic Center.</h2>
                        <p>Access to National Academic System.</p>
                        <p>Access to Reporting System.</p>
                    </div>

                </div>

            </div>
        </section>

        <!--------------------------About-Us-section------------------------------------------------------------>
        <section id="About">
            <div class="container">
                <div class="section-info">
                    <div class="topic">
                        <button>About us</button>
                    </div>
                    <h3>Our Mission</h3>
                    <p>Empowering Education, Enabling Success and Commitment to Fairness.</p>
                </div>
                <div class="about-elements">
                    <div class="elements-card">
                        <div class="image">
                            <img src="media/ian-macharia-7k91OUDYAQ0-unsplash (1)-compressed.jpg" alt="">
                        </div>
                        <div>
                            <h4>Our Mandate</h4>
                            <p>Elite Scholars stands as a cornerstone of academic excellence, offering a comprehensive array of educational resources and support for tertiary education students. It simplifies admissions, enriches learning with extensive e-materials, and fosters a supportive community for learners and educators alike. Committed to empowering students to reach their full potential, Elite Scholers continuously adapts, embracing innovation to ensure every user's success.</p>
                            <a href="">
                                <button>Learn More</button>
                            </a>
                        </div>
                    </div>
                    <div class="elements-card">
                        
                        <div>
                            <h4>Our Chief Educational Officer</h4>
                            <p>Inspired by our mission, Elite Schoolers champions innovation and excellence in education, guiding tomorrow's leaders on their path to success with advanced resources and a devoted team.  Students, seize every chance to learn; you are our future. Educators, your passion fuels our achievements. Parents, your support is vital on this journey.</p>
                            <h4>Dr. Frank Majorly</h4>
                        </div>
                        <div>
                            <img src="media/taylor-grote-UiVe5QvOhao-unsplash-compressed.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!--------------------------News-section------------------------------------------------------------>
        <section id="news">
            <div class="container">
                <div class="section-info">
                    <div class="topics-buttons">
                        <div class="topic">
                            <button>News</button>
                        </div>
                        <div class="topic dark">
                            <a href="news.html">
                                <button>Explore</button>
                            </a>
                        </div> 
                    </div>
                    <div>
                        <h3>Recent Updates and Headlines</h3>
                        <p>Stay upto date with our announcements and headlines.</p>
                    </div>
                    
                    
                </div>
                <div class="news-info">
                    <div class="news-card">
                        <div>
                            <img src="media/joel-muniz-XHT01BY-cGo-unsplash-compressed.jpg" class="img-responsive">
                        </div>
                        <div class="card-info">
                            <h3><span>Achievements</span> : Sports</h3>
                            <p>In the realm of academic and personal development, sports play an indispensable role...</p>
                            <div class="news-action">
                                <p class="small-date">Sunday, 16th Feb, 2024</p>
                                <a href="news.html">
                                    <button class="btn btn-primary">Read More 
                                        <i class="fa-solid fa-square-chevron-down fa-rotate-270" ></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="news-card">
                        <div>
                            <img src="media/rut-miit-oTglG1D4hRA-unsplash-compressed.jpg" alt="graduation picture" class="img-responsive">
                        </div>
                        <div class="card-info">
                            <h3>Graduation Day : The last Day</h3>
                            <p>A Milestone of Achievement and New Beginnings. it's a celebration of achievement, perseverance, ...</p>
                            <div class="news-action">
                                <p class="small-date">Tuesday, 12th November, 2023</p>
                                <a href="news.html">
                                    <button class="btn btn-primary">Read More 
                                        <i class="fa-solid fa-square-chevron-down fa-rotate-270"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="news-card">
                        <div>
                            <img src="media/pexels-roman-odintsov-11025019-compressed.jpg" alt="Academic Excellence" class="img-responsive">
                        </div>
                        <div class="card-info">
                            <h3>Academic Excellence : Foundations</h3>
                            <p>At Elite Schoolers, academic excellence is not just a goal; it's a journey of continuous learning, ...</p>
                            <div class="news-action">
                                <p class="small-date">Monday, 1st January, 2020</p>
                                <a href="news.html">
                                    <button class="btn btn-primary">Read More 
                                        <i class="fa fa-"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="carousels">
                        <div class="carousel-arrow carousel-right prev">
                            <span class="arrows">
                                <i class="fa-solid fa-arrow-right fa-2xl"></i>
                            </span>
                        </div>
                        <div class="carousel-arrow carousel-left next">
                            <span class="arrows">
                                <i class="fa-solid fa-arrow-left fa-2xl"></i>
                            </span>
                        </div>

                    </div>

                </div>
            </div>
        </section>


        <!--------------------------Resources-section------------------------------------------------------------>
        <section id="resources" class="resources">
            <div class="container">
                <div class="section-info dark">
                    <h3>Resources</h3>
                    <p>This platform offers an extensive library of courses, interactive tutorials, and supplementary materials across all subjects, ensuring that students can deepen their understanding and explore new areas of interest. </p>
                </div>
                <div class="resources-info">
                    <div class="resources-card">
                        <div class="res-card">
                            <i class="fa-solid fa-book"></i>
                            <h2>Study Guides</h2>
                            <p>Our comprehensive Guide gives in details the best approaches to the curriculum.</p>
                        </div>

                        <div class="res-card">
                            <i class="fa-solid fa-scroll"></i>
                            <h2>Past Papers</h2>
                            <p>Practise previous quizzes and questions to become good at the most difficult points in your curriculum.</p>
                        </div>

                        <div class="res-card">
                            <i class="fa-solid fa-person-chalkboard"></i>
                            <h2>Tutoring Records.</h2>
                            <p>listen to Previous lectures to gain insights on where you are stuck.</p>                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!--------------------------FAQ's-section------------------------------------------------------------>
        <section id="faqs">
            <div class="container">
                <div class="section-info">
                    <div class="topic">
                        <button>FAQ's</button>
                    </div>
                    <h3>Find answers to Your questions</h3>
                    <p>Answers to your Queries at your Fingertips.</p>
                </div>
                <div class="space">
                    <div class="faqs-info">
                        <div class="faqs-card">
                            <div class="num">
                                <p>1</p>
                            </div>
                            <div class="info-faqs">
                                <h3>How Do I register?</h3>
                                <p>You can simply register by Accessing the Register Button and Filling in Your Details for the platform. There is a step by step guide during registration to make sure you are eligible to use the platform.</p>
                            </div>
                        </div>
                        <div class="faqs-card">
                            <div class="num">
                                <p>2</p>
                            </div>
                            <h3>How Do I log in?</h3>
                            <p>You can simply log in by Accessing the Register Button and Filling in Your Details for the platform. There is a step-by-step guide during registration to make sure you are eligible to use the platform. After registration, you can log in.</p>
                        </div>
                        <div class="faqs-card">
                            <div class="num">
                                <p>3</p>
                            </div>
                            <h3>How Do I pay?</h3>
                            <p>You can simply Pay by Accessing the Register Button and Filling in Your Details for the platform. There is a step-by-step guide during registration to make sure you are eligible to use the platform and to make payments on the subscription of the above services.</p>
                        </div>
                        <div class="faqs-card">
                            <div class="num">
                                <p>4</p>
                            </div>
                            <h3>etc/more faq’s</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!----------------------------subscribe-section------------------------------------------------------------>
        <section id="subscribe" class="subscribe">
            <div class="container">
                <div class="section-info">
                    <h3>Never Miss any updates.</h3>
                    <p>Keep Up with the latest news about Elite Scholars. Learn as much as you can to improve on your knowledge. Transformation is Key.</p>
                </div>
                <div class="sub-info">
                    <form class="" >
                        <input  name="email" value="" type="email" />
                        <button type="submit" class="subscribe">Subscribe <i class="fa-solid fa-arrows-left-right"></i></button>
                    </form>
                </div>
            </div>
        </section>

    </main>


    <!-----------------------------Footer------------------------------------------------------------>
    <footer>
        <div class="footer-container">
            <div class="company-info">
                <div class="logo">ELITE SCHOLARS</div>
                <div><p>Enhancing Academic Excellence</p></div>
                <div class="socials">
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-pinterest"></i></a>
                </div>
            </div>
            <div class="contact-info">
                <h3>Contact Us</h3>
                <p>
                    <i class="fa-solid fa-envelope"></i>
                    elitescholars@gmail.com
                </p>
                <p>
                    <i></i>
                    +254 796 055 756
                </p>
            </div>
        </div>
    </footer>

    <!----------------JS Linking------------------------->
    <script src="js/nav.js" defer></script>
    <script src="js/carousel.js" async></script>
    
    
</body>
</html>
